/*********aboutUs**********/




/*************copyrightAnnouncement*************/
.copyrightAnnouncement .container .row .row:first-child {
    border-bottom: 2px solid #CCCCCC;
}


/***********couponInformation****************/


.couponInformation .carousel-caption {
    font-size: 20px;
}
/*.couponInformation .active>div:not(.carousel-caption){*/
    /*margin-left:15px;*/
    /*margin-top:10px;*/
    /*width:90px;*/
    /*height:4px;*/
    /*background-color:#ee7f63;*/
/*}*/

.couponInformation .container .content .split {
    margin-top: 50px;
    margin-bottom: 50px;
    border-bottom: 2px solid #CCCCCC;
}
.couponInformation ol li {
    border-radius: 10px !important;
}

.couponInformation .container .content:not(.carousel) {
    padding-left:50px;
    padding-right: 50px;
    padding-bottom:30px;
    margin-bottom:50px;
    /*background-color:#FFFFFF;*/
    /*border:1px solid #CCCCCC;*/
    padding-top:30px;
}
.couponInformation .container .content div:not(.carousel .item) {
    /*padding-top:30px;*/
    padding-left:10px;
    padding-right:10px;
    font-size:24px;
    /*text-align: center;*/
}

/************instruction*************/
.instruction .content h3{
    color: #000000;

    margin-bottom: 20px;
}

.instruction .content div .one-piece:last-child{
    margin-bottom: 40px;
}

/***************serviceTerm**********/


.serviceTerm .content h3{
    color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align:center;
}

.serviceTerm .content p{
    margin-bottom:60px;
}
/*********tutorMeeting**********/
.tutorMeeting .container .content div {
    text-align: center;
}

/**********contactUs*************/
.contactUs .container .row .content-title {
    margin-top:30px;
    margin-bottom:20px;
    text-align: center;
    font-size: 20px;
    color: black;
}
.contactUs .container .content {
    text-align: center;
}
.contactUs .container .content .split {
    margin-top: 50px;
    border-bottom: 2px solid #CCCCCC;
}